<div *ngIf="exercise">
    <div class="alert" *ngIf="showWelcomeAlert" [ngClass]="'alert-info'" style="bottom: 11px">
        <div [innerHTML]="'artemisApp.exercise.welcome' | artemisTranslate"></div>
    </div>
    <!-- HEADER INFORMATION START -->
    <jhi-header-exercise-page-with-details [exercise]="exercise" [onBackClick]="backToCourse.bind(this)">
        <span pagetitle>{{ exercise.title }}</span>
    </jhi-header-exercise-page-with-details>
    <!-- HEADER INFORMATION END -->
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <!-- EXERCISE ACTIONS START -->
    <div class="tab-bar tab-bar-exercise-details ps-2 pe-2 mb-2 justify-content-between">
        <jhi-programming-exercise-student-ide-actions jhiOrionFilter [showInOrionWindow]="true" [courseId]="courseId" [exercise]="exercise">
        </jhi-programming-exercise-student-ide-actions>
        <jhi-exercise-details-student-actions
            jhiOrionFilter
            [showInOrionWindow]="false"
            [courseId]="courseId"
            [exercise]="exercise"
            [showResult]="showResults && latestRatedResult != undefined"
        >
        </jhi-exercise-details-student-actions>
        <!-- These buttons will be only shown in dev environment and if the programming exercise has no
        connection to the VCS and CI
        This functionality is only for testing purposes-->
        <button class="dev-button" *ngIf="!inProductionEnvironment && noVersionControlAndContinuousIntegrationServerAvailable" (click)="simulateSubmission()">Submission</button>
        <button
            class="dev-button"
            [disabled]="!wasSubmissionSimulated"
            *ngIf="!inProductionEnvironment && noVersionControlAndContinuousIntegrationServerAvailable"
            (click)="simulateResult()"
        >
            Result
        </button>
        <jhi-submission-result-status
            [exercise]="exercise"
            [studentParticipation]="studentParticipation"
            updatingResultClass="me-2"
            [showGradedBadge]="true"
            [triggerLastGraded]="false"
        >
        </jhi-submission-result-status>
        <div class="col-auto d-md-flex align-items-center" *ngIf="exercise.isAtLeastEditor">
            <span class="me-1">{{ 'artemisApp.courseOverview.exerciseDetails.instructorActions.title' | artemisTranslate }}</span>
            <div class="btn-group flex-btn-group-container">
                <a *ngIf="exercise.type !== QUIZ" [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id]" class="btn btn-info btn-sm me-1">
                    <fa-icon [icon]="'eye'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </a>
                <a [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id, 'scores']" class="btn btn-info btn-sm me-1">
                    <fa-icon [icon]="'table'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.scores">Scores</span>
                </a>
                <a *ngIf="exerciseRouterLink" [routerLink]="[exerciseRouterLink]" class="btn btn-primary btn-sm me-1">
                    <fa-icon [icon]="'book'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="artemisApp.courseOverview.exerciseDetails.instructorActions.submissions">Submissions</span>
                </a>
                <a
                    *ngIf="exercise.type === MODELING"
                    [routerLink]="['/course-management', courseId, 'modeling-exercises', exercise.id, 'statistics']"
                    class="btn btn-info btn-sm me-1"
                >
                    <fa-icon [icon]="'signal'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="artemisApp.courseOverview.exerciseDetails.instructorActions.statistics">Statistics</span>
                </a>
                <a
                    *ngIf="exercise.type === PROGRAMMING"
                    [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id, 'participations']"
                    class="btn btn-primary btn-sm me-1"
                >
                    <fa-icon [icon]="'list-alt'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="artemisApp.exercise.participations">Participations</span>
                </a>
                <a
                    *ngIf="exercise.type === PROGRAMMING"
                    [routerLink]="['/course-management', courseId, 'programming-exercises', exercise.id, 'grading', 'test-cases']"
                    class="btn btn-info btn-sm me-1"
                >
                    <fa-icon [icon]="'file-signature'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="artemisApp.programmingExercise.configureGrading.shortTitle">Grading</span>
                </a>
                <a
                    *ngIf="!QUIZ_ENDED_STATUS.includes(quizExerciseStatus)"
                    [class.disabled]="quizExerciseStatus === QuizStatus.ACTIVE"
                    [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id, 'edit']"
                    class="btn btn-warning btn-sm me-1"
                >
                    <fa-icon [icon]="'wrench'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </a>
                <a
                    *ngIf="QUIZ_ENDED_STATUS.includes(quizExerciseStatus) && exercise.isAtLeastInstructor"
                    [routerLink]="['/course-management', courseId, 'quiz-exercises', exercise.id, 're-evaluate']"
                    class="btn btn-warning btn-sm me-1"
                >
                    <fa-icon [icon]="'wrench'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.re-evaluate">Re-evaluate</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pe-0 flex-grow-1">
            <!-- EXERCISE ACTIONS END -->
            <!-- PROBLEM STATEMENT START -->
            <div *ngIf="exercise.type === PROGRAMMING; else exerciseTemplate" class="mb-4">
                <button
                    class="mb-2"
                    jhi-exercise-action-button
                    jhiBuildPlanButton
                    buttonIcon="external-link-alt"
                    [buttonLabel]="'artemisApp.exerciseActions.goToBuildPlan' | artemisTranslate"
                    [buttonLoading]="exercise!.loading!"
                    [hideLabelMobile]="false"
                    [projectKey]="projectKey()"
                    [buildPlanId]="buildPlanId(exercise.studentParticipations![0])!"
                    *ngIf="publishBuildPlanUrl() && buildPlanActive()"
                ></button>
                <jhi-programming-exercise-instructions
                    *ngIf="exercise"
                    [exercise]="exercise"
                    [participation]="exercise.studentParticipations! && exercise.studentParticipations![0]"
                    [personalParticipation]="true"
                >
                </jhi-programming-exercise-instructions>
            </div>
            <ng-template #exerciseTemplate>
                <div class="row mb-2 align-items-baseline" *ngIf="exercise.problemStatement">
                    <div class="col-12 col-md-12 markdown-preview problem-statement">
                        <h3>{{ 'artemisApp.courseOverview.exerciseDetails.problemStatement' | artemisTranslate }}</h3>
                        <p [innerHTML]="exercise!.problemStatement! | htmlForMarkdown"></p>
                    </div>
                </div>
            </ng-template>
            <!-- PROBLEM STATEMENT END -->
            <!-- RESULTS START -->
            <div
                class="row mb-2 mt-2 align-items-baseline d-none d-md-flex"
                *ngIf="showResults && ((sortedHistoryResult && sortedHistoryResult.length > 1) || !latestRatedResult?.rated)"
            >
                <div class="col-auto">
                    <h3>{{ 'artemisApp.courseOverview.exerciseDetails.recentResults' | artemisTranslate }}</h3>
                </div>
            </div>
            <div class="row mb-2 d-none d-md-flex" *ngIf="showResults && sortedHistoryResult && sortedHistoryResult!.length > 1">
                <div class="col-12 col-md-12">
                    <jhi-result-history [results]="sortedHistoryResult" [showPreviousDivider]="hasMoreResults" [maxScore]="exercise.maxPoints"></jhi-result-history>
                </div>
            </div>
            <div
                class="row justify-content-between"
                *ngIf="showResults && !latestRatedResult?.rated && studentParticipation?.results && studentParticipation!.results!.length === 1"
            >
                <div class="col">
                    <h4>
                        <span class="badge w-100 bg-info">
                            {{ 'artemisApp.courseOverview.exerciseDetails.notGraded' | artemisTranslate | uppercase }}
                        </span>
                    </h4>
                </div>
                <div class="col text-start">
                    <jhi-result [result]="studentParticipation!.results![0]" [participation]="studentParticipation!" [showUngradedResults]="true" [short]="true"></jhi-result>
                </div>
                <div class="col text-start d-none d-md-flex">
                    <h6 [ngbTooltip]="studentParticipation!.results![0].completionDate | artemisDate">
                        ({{ studentParticipation!.results![0].completionDate! | artemisTimeAgo }})
                    </h6>
                </div>
            </div>
            <div class="row mb-2 mt-2 align-items-baseline" *ngIf="showMoreResults && showResults">
                <div class="col-auto">
                    <h3>{{ 'artemisApp.courseOverview.exerciseDetails.allResults' | artemisTranslate }}</h3>
                </div>
            </div>
            <div class="row" *ngIf="showMoreResults && showResults">
                <div class="col-12 col-md-12">
                    <div *ngFor="let result of studentParticipation?.results">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h4>
                                    <span class="badge w-100 bg-success" [ngClass]="exerciseRatedBadge(result)">
                                        {{
                                            (result.rated ? 'artemisApp.courseOverview.exerciseDetails.graded' : 'artemisApp.courseOverview.exerciseDetails.notGraded')
                                                | artemisTranslate
                                                | uppercase
                                        }}
                                    </span>
                                </h4>
                            </div>
                            <div class="col text-start">
                                <jhi-result [result]="result" [participation]="exercise.studentParticipations![0]" [showUngradedResults]="true" [short]="true"></jhi-result>
                            </div>
                            <div class="col text-start d-none d-md-flex">
                                <h6 [ngbTooltip]="result.completionDate | artemisDate">({{ result.completionDate! | artemisTimeAgo }})</h6>
                            </div>
                        </div>
                    </div>
                    <div class="no-results" *ngIf="!studentParticipation || !studentParticipation.results">
                        {{ 'artemisApp.courseOverview.exerciseDetails.noResults' | artemisTranslate }}
                    </div>
                </div>
            </div>
            <div class="row mb-2 mt-2 align-items-baseline" *ngIf="showResults && studentParticipation?.results && studentParticipation!.results!.length > 1">
                <div class="col-auto">
                    <a class="text-primary" (click)="showMoreResults = !showMoreResults">{{
                        showMoreResults
                            ? ('artemisApp.courseOverview.exerciseDetails.hideResults' | artemisTranslate)
                            : ('artemisApp.courseOverview.exerciseDetails.showResults' | artemisTranslate)
                    }}</a>
                </div>
            </div>
            <div class="row mb-2 mt-2 align-items-baseline no-results" *ngIf="!showResults">
                <div class="col-auto">
                    <h3>{{ 'artemisApp.courseOverview.exerciseDetails.noResults' | artemisTranslate }}</h3>
                </div>
            </div>
            <!-- RESULTS END -->
            <jhi-complaint-interactions
                *ngIf="
                    exercise &&
                    exercise.type === PROGRAMMING &&
                    studentParticipation &&
                    latestRatedResult &&
                    (latestRatedResult.assessmentType === AssessmentType.MANUAL || latestRatedResult.assessmentType === AssessmentType.SEMI_AUTOMATIC)
                "
                class="mb-2 mt-2 ms-3"
                [exercise]="exercise"
                [participation]="studentParticipation!"
                [result]="resultWithComplaint ? resultWithComplaint : latestRatedResult"
            >
            </jhi-complaint-interactions>
            <div
                class="row"
                *ngIf="
                    exercise?.type === PROGRAMMING &&
                    studentParticipation &&
                    latestRatedResult &&
                    (latestRatedResult.assessmentType === AssessmentType.MANUAL || latestRatedResult.assessmentType === AssessmentType.SEMI_AUTOMATIC)
                "
            >
                <jhi-rating class="mt-2 alert alert-info" [result]="latestRatedResult"></jhi-rating>
            </div>
        </div>
        <div class="col d-flex flex-grow-1 justify-end px-0" style="max-width: min-content">
            <router-outlet *ngIf="exercise.course && exercise.course.postsEnabled" (activate)="onChildActivate($event)"></router-outlet>
        </div>
    </div>
</div>
